---
import Github from "../icons/Github.astro";
---

<footer class="flex justify-end gap-x-2 h-14 p-2">
	<a
		href="https://www.github.com/abhijit424515/otter"
		class="p-2 hover:bg-zinc-100 duration-200 rounded-xl"
	>
		<Github />
	</a>
</footer>
